body {
    background-color: black;
}

div {
    color: white;
    text-align: center;
    width: 50%;
    margin-top: 64px;
    margin-left: 25%;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville';
}